<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <button type="submit", id="noAuth" onclick="window.location.href='/noAuth'">No Auth</button>
    <button type="submit", id="noAuth" onclick="window.location.href='/basicAuth'">Basic Auth</button>
    <button type="submit", id="noAuth" onclick="window.location.href='/apiKey'">API Key</button>
    <button type="submit", id="noAuth" onclick="window.location.href='/bearerToken'">Bearer Token</button>



    <div class="container">
        <%= content %>
    </div>
    
</body>
</html>